@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
 * {
	 box-sizing: border-box;
     
}
 /* .card {
	 
	 font-family: "Raleway";
   display: block;
} */
  .card-item {
      
    	 width: 550px;
	 margin: 5px;
	 background: white;
   font-family: "Raleway";
	 margin: 0 auto;
	 /* transform: translate(-50%, -50%); */
	 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	 transition: all 0.3s;
     margin: 18px;
     
}
  .card-item:hover {
	 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .card nav {
	 width: 100%;
	 color: #727272;
	 text-transform: uppercase;
	 padding: 20px;
	 border-bottom: 2px solid #efefef;
	 font-size: 12px;
}
  .card nav svg.heart {
	 height: 24px;
	 width: 24px;
	 float: right;
	 margin-top: -3px;
	 transition: all 0.3s ease;
	 cursor: pointer;
}
 .card nav svg.heart:hover {
	 fill: red;
}
  .card nav svg.arrow {
	 float: left;
	 height: 15px;
	 width: 15px;
	 margin-right: 10px;
}
  .card-item .photo {
	 padding: 30px;
	 width: 45%;
	 text-align: center;
	 float: left;
}
  .card-item .photo img {
	 max-height: 240px;
}
  .card-item .description {
	 padding: 30px;
	 float: left;
	 width: 55%;
	 border-left: 2px solid #efefef;
}
  .card-item .description h1 {
	 color: #515151;
	 font-weight: 300;
	 padding-top: 15px;
	 margin: 0;
	 font-size: 30px;
	 font-weight: 300;
}
  .card-item .description h2 {
	 color: #515151;
	 margin: 0;
	 text-transform: uppercase;
	 font-weight: 500;
}
  .card-item .description h4 {
	 margin: 0;
	 color: #727272;
	 text-transform: uppercase;
	 font-weight: 500;
	 font-size: 12px;
}
  .card-item .description p {
	 font-size: 12px;
	 line-height: 20px;
	 color: #727272;
	 padding: 20px 0;
	 margin: 0;
}
  .card-item .description button {
	 outline: 0;
	 border: 0;
	 background: none;
	 border: 1px solid #d9d9d9;
	 padding: 8px 0px;
	 margin-bottom: 30px;
	 color: #fff;
	 text-transform: uppercase;
	padding: 5px;
	 font-family: inherit;
	 margin-right: 5px;
	 transition: all 0.3s ease;
	 font-weight: 500;
}
  .card-item .description button:hover {
	 border: 1px solid #aedaa6;
	 color: #aedaa6;
	 cursor: pointer;
}